<article>
  <h2 class="bg-yellow-900 text-yellow-200 font-bold text-lg w-24 p-2 mb-2 rounded-md">
    Edit Post
  </h2>
  <form class="edit-post-form w-8/12 border-4 border-yellow-900">
    <div>
    <label class="bg-yellow-900 text-yellow-200 font-bold text-2xl p-1" for="post-title"> Title:</label>
     <input class="w-full border-4 border-blue-400 pl-1" name="post-title" type="text" value="{{post.title}}" />
      <label class="bg-yellow-900 text-yellow-200 font-bold text-2xl p-2 " for="post-url">Content</label>
      <textarea  class="w-full border-4 border-blue-400" name="post-url" value="{{post.post_url}}">
      {{post.post_url}}
      </textarea>
    </div>
    <div class="pl-1">
      {{post.vote_count}} {{format_plural "Like" post.vote_count}}
      |
      <a class="font-bold" href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <div class="p-2">
    <button class="bg-blue-400 hover:bg-blue-700 rounded-md px-4 py-2 font-bold text-lg" type="submit">Save-Post</button>
    <button class="delete-post-btn bg-red-400 hover:bg-red-700 rounded-md px-4 py-2 font-bold text-lg" type="button">Delete-post</button>
    </div>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="bg-yellow-600 px-4 py-2 rounded-md text-lg font-bold  hover:bg-yellow-400" type="submit">Add-Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comments.js"></script>